@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;

    height: 100%;
    background: #E9C21E url(../img/background.png) no-repeat fixed center center;
    background-size: cover;
    display: block;
}

.main-section{
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}
.modal-content{
    background-color: #8E3057;
    opacity: .90;
    padding: 0 18px;
    box-shadow: 0 0 3px #848484;
}
.logo-img{
    margin-top: 25px;
    margin-bottom: 45px;
}
.logo-img img{
    width: 160px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
@media only screen and (max-width: 576px){
    .logo-img img{
        width: 150px;
    }
    .col-sm-8{
        max-width: 100%;
    }
}
.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    padding-left: 54px;
}


button{
    width: 40%;
    margin: 5px 0px 25px;
}

.btn{
    background-color: #fff;
    color: #8E3057;
    font-size: 19px;
    padding: 7px 12px;
    border-radius: 5px;
    border-bottom: 4px solid #C1C1C1;
}

.btn:hover, .btn:focus{
    background-color: #C1C1C1!important;
}
.svg-inline--fa{
    font-size: 20px;
}
.forgot{
    padding: 5px 0 25px;
}

.forgot a {
    color: #FAF2D1;
}
/** Table CSS **/
table .thead-light{
    background-color: #FAF2D1;

}

.display-4{
    color:white;
}